@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
    font-family: Blanka;
    src: url("../../fonts/Blanka.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Manifesto;
    src: url("../../fonts/Manifesto.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Leoscar Sans Serif;
    src: url("../../fonts/Leoscar Sans Serif.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}




body {
    font-family: 'Josefin Sans', 'Cabin Sketch', 'Helvetica Neue', Arial, sans-serif;
    background-color: #EFEFEF; /* Light Gray Background */
    display: flex;
    justify-content: flex-start;
    height: 80vh;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}


.header-2 {
    background-color: #eee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.title {
    font-size: 2.5em;
    margin: 0;
}

.subheader {
    font-size: 1.2em;
    margin-top: 10px;
}

.subheader {
    font-size: 1.2em;
    margin-top: 4px;
}

.invisible {
    visibility: hidden;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Josefin Sans';
}

.header-logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0073e6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    position: relative;
    z-index: 4200;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

/* Mobile Navigation */
.mobile-nav {
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 1000;
}

.mobile-nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-links li a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav.show {
    display: block;
}

.hero {
    background: url('/img/mainbg.png') no-repeat center center / cover;
    background-attachment: fixed;
    position: top;
    max-width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    min-height: 200vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent white overlay */
    z-index: 2;
    min-height: 200vh;
}

.hero-content {
    position: relative;
    z-index: 3;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.venn {
    position: relative;
    z-index: 3;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    font-family: 'Blanka', 'Cabin Sketch';
    font-size: 5em;
    margin-bottom: 0.2em;
    z-index: 5;
    color: #D3D3D3; /* Dark Gray Text */
}

.hero-content h2 {
    font-family: 'Manifesto', 'Josefin Sans';
    font-size: 2em;
    margin-bottom: 0.5em;
    z-index: 5;
    color: #D3D3D3; /* Dark Gray Text */
}

.hero-content p {
    font-size: 1.2em;
    z-index: 4;
    color: #D3D3D3; /* Dark Gray Text */
    margin-bottom: 1em;
}

.cta-button:hover {
    background-color: #425B4F; /* Darker Green on Hover */
}

.about {
    background-color: #f4f4f4;
    color: #333;
    padding: 3em 2em;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    z-index: 3;
}

.highlight {
    font-weight: bold;
}


@media (max-width: 600px) {
    .navbar .nav-links {
        display: none; /* Hide the desktop links */
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu */
    }

    .mobile-nav-links li a {
        padding: 7px 15px;
    }

    .nav-links li {
        width: 50%;
    }
    
    .header-logo {
        height: 30px;
    }

    .nav-logo {
        width: 50%;
        justify-content: space-between;
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .hero-content {
        position: relative;
        z-index: 3;
        color: #333;
        text-align: center;
        margin-top: 18vh;
        margin-left: 15%;
        margin-right: 15%
    }
}
